<% provide(:title, 'About Us') %>
<h1>About Us</h1>
<p>
  <a href="http://www.google.fr/imgres?hl=fr&sa=X&rlz=1C1SVEE_enFR446FR446&biw=1366&bih=667&tbm=isch&prmd=imvnsa&tbnid=o6cxRX_CjbdhlM:&imgrefurl=http://desencyclopedie.wikia.com/wiki/Fichier:Bald-monkey.gif&docid=k0ABGrqVbu5HIM&imgurl=http://images3.wikia.nocookie.net/__cb20081215152755/desencyclopedie/images/e/e5/Bald-monkey.gif&w=600&h=399&ei=mzgIUNHfJKaq0AX63bHJBA&zoom=1&iact=hc&vpx=175&vpy=189&dur=979&hovh=183&hovw=275&tx=157&ty=64&sig=109082948810453628623&page=1&tbnh=131&tbnw=184&start=0&ndsp=19&ved=1t:429,r:0,s:0,i:138/">Whokeys</a>
  is a project to make a better world
  with <a href="http://rubyonrails.org/">Michael</a>. This
  is the sample beta website
</p>